<h1>Edit Product</h1>

<%= form_for @product do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :cost %>
  <%= f.text_field :cost %>
  <%= f.label :country_of_orgin %>
  <%= f.select(:country_of_orgin, Product::LIST_OF_COUNTRY) %>
  <%= f.submit  %>
<% end %>