<div class="title-container">
  <h1><%= @product.name %></h1>
</div>
<h4>Country: <%= @product.country_of_orgin %></h4>
<h4>Cost: $<%= @product.cost %></h4>
<h3>Reviews:</h3>

  <% if @product.reviews.any? %>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <%= link_to review.author + " - " + review.rating.to_s + " â­", product_review_path(@product, review) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

  <div class="edit_delete">
    <div class="thumbmail">
      <div class="caption">
      <br>
        <p>
          <%= link_to "Edit", edit_product_path(@product), class: "btn btn-default" %>
          <%= link_to "Delete", product_path(@product), class: "btn btn-danger",
                                                        :data => { :confirm => "Are you sure you want to delete #{@product.name}?",
                                                                  :method => "delete" } %>
        </p>
      </div>
    </div>
  </div>

<p><%= link_to "Add a review", new_product_review_path(@product) %></p>
<p><%= link_to "Return to products", products_path %></p>