<div id="reviews-page">
  <div class="card">
    <div class="card-body">
      <div class="review-title">
        <h1 class="card-title"><%= @product.name %></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="d-flex align-content-stretch flex-wrap">
              <div class="rating-body">
                <h3>Rating: <%= @review.rating %> ⭐ </h3>
                <h4><%= @review.content_body %></h4>
                <h4>By: <%= @review.author %> on <%= @review.created_at %></h4>
                <div class="return-link">
                  <p><%= link_to "Return to product", product_path(@product), class: "btn btn-default" %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="edit_delete">
    <div class="thumbmail">
      <div class="caption">
        <div class="admin-btn">
          <br>
          <% if is_admin? %>
            <p>
              <%= link_to "Edit review", edit_product_review_path(@product, @review), class: "btn btn-default" %>
              <%= link_to "Delete review", product_review_path(@product, @review), class: "btn btn-danger",
                                                                              :data => { :confirm => "Are you sure you want to delete #{@product.name} review?",
                                                                                          :method => "delete" } %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
