<header>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if is_admin? %>
            <%= link_to 'Admin' , rails_admin_path %> |
          <% end %>
          <% if user_signed_in? %>
            <%= link_to 'Logout' , destroy_user_session_path, method: :delete %> |
            <%= link_to 'Profile' , user_path(current_user) %>
          <% else %>
            <%= link_to 'Login' , new_user_session_path %> |
            <%= link_to 'Sign Up' , new_user_registration_path %>
          <% end %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-link">
            <%= link_to "Home" , root_path, class: "nav-brand" %>
          </button>
          <button class="btn btn-link">
            <%= link_to "All Products" , products_path %>
          </button>
          <% if is_admin? %>
            <button class="btn btn-link">
              <%= link_to "New Product" , new_product_path %>
            </button>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>